ul {
    list-style-type: none;
    margin:  0px auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 30%;
}

li {
    float: left;
    margin-left: 20px
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}