.App {
  text-align: center;
}

.moistureButton {
  background-color: white;
  margin-top: 16px;
  color: black;
  font: inherit;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

img, .tiny  {
  width: 1000px;
  height: auto;
  object-fit: cover;
}

.tiny {
  filter: blur(20);
}

/* white overlay */
.white-overlay::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(255,255,255,0.2)
}